@use '../config/colors';

.nav {
    position: sticky;
    top: 0;
    background: colors.$white;
    background: linear-gradient(to bottom, colors.$white, rgba(255, 255, 255, .5));
    backdrop-filter: blur(15px);
    z-index: 10;
    padding: 2.5rem 5rem 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5rem;
        right: 5rem;
        height: 1px;
        background: colors.$grey-100;
    }


    &__item {
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;

        &--logo {
            font-size: 1px;
            color: transparent;
            background-image: url("../img/logo.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            background-size: 1.5rem;
            width: 1.5rem;
            aspect-ratio: 1/1;
            padding: .25rem;
            border-radius: .5rem;
            transition: background-color 250ms ease-in-out;

            &:hover {
                background-color: colors.$orange-500;
                transition: background-color 250ms ease-in-out;
            }
        }

        &--contact {
            padding: 0.625rem 1rem;
            border-radius: .5rem;
            background: linear-gradient(to bottom, colors.$grey-50, colors.$grey-100);
            transition: color 150ms ease-in-out;
            display: flex;
            gap: .25rem;
            color: colors.$grey-500;
            position: relative;
            box-shadow: 0 0 0 .5px colors.$grey-200;

            &:hover {
                color: colors.$grey-700;
                transition: color 150ms ease-in-out;
            }

            // &:before {
            //     content: "";
            //     position: absolute;
            //     top: -0.03125rem;
            //     right: -0.03125rem;
            //     bottom: -0.03125rem;
            //     left: -0.03125rem;
            //     border-radius: 0.53125rem;
            //     background: linear-gradient(to bottom, colors.$grey-200, colors.$grey-300);
            //     z-index: -1;
            // }

            .item__arrow {
                width: 0.875rem;
                height: .875rem;
                aspect-ratio: 1/1;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .nav {
        padding-right: 2rem;
        padding-left: 2rem;

        &:after {
            right: 2rem;
            left: 2rem;
        }
    }
}
