@use '../config/colors';

.posts {
    max-width: 50rem;

    &__container {
        max-width: 56.25rem;
        padding: 10rem 0;
    }

    &__types {
        display: flex;
        gap: 0.03125rem;
        justify-content: right;
        margin-bottom: 2.5rem;
    }

    &__type {
        border: none;
        background: linear-gradient(to bottom, colors.$grey-50, colors.$grey-100);
        color: colors.$grey-400;
        padding: .5rem 1rem;
        position: relative;
        transition: 200ms color ease-in-out;

        &:hover {
            cursor: pointer;
            color: colors.$grey-500;
            transition: 200ms color ease-in-out;
        }

        &:before {
            content: "";
            position: absolute;
            top: -0.03125rem;
            right: -0.03125rem;
            bottom: -0.03125rem;
            left: -0.03125rem;
            background: linear-gradient(to bottom, colors.$grey-200, colors.$grey-300);
            z-index: -1;
        }

        &:first-of-type {
            border-top-left-radius: 0.375rem;
            border-bottom-left-radius: 0.375rem;

            &:before {
                border-top-left-radius: 0.40625rem;
                border-bottom-left-radius: 0.40625rem;
            }
        }

        &:last-of-type {
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;

            &:before {
                border-top-right-radius: 0.40625rem;
                border-bottom-right-radius: 0.40625rem;
            }
        }

        &--selected {
            background: linear-gradient(to bottom, colors.$orange-50, colors.$orange-100);
            color: colors.$orange-500;

            &:hover {
                color: colors.$orange-500;
            }
        }
    }

    &__for-year {
        max-width: 56.25rem;
        display: flex;
        justify-content: space-between;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }

    &__year {
        font-size: 1.25rem;
        position: sticky;
        height: max-content;
        top: 4rem;
        margin-bottom: 4rem;
        color: colors.$grey-300;
        line-height: 140%;
        margin-right: 6rem;
    }
}
