@use '../config/colors';

.post-card {
    display: flex;
    gap: 1rem;
    width: 100%;
    position: relative;

    &:not(:last-child) {
        padding-bottom: 2rem;
        box-shadow: 0 1px 0 0 colors.$grey-100;
    }

    &:not(:first-child) {
        margin-top: 2rem;
    }

    &__type {
        min-width: 1.5rem;
        aspect-ratio: 1/1;
        margin-top: 0.125rem;
        filter: invert(72%) sepia(0%) saturate(1131%) hue-rotate(146deg) brightness(91%) contrast(89%);
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: transparent;
        font-size: 1px;
        z-index: 1;

        &:hover {
            text-decoration: none;
            color: transparent;

            & + .post-card__title > .post-card__title--underline {
                background-size: 100% 100%;
            }
        }
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: .75rem;
        line-height: 140%;

        &--underline {
            width: calc(100%);
            background-image: linear-gradient(transparent calc(100% - .5rem), colors.$orange-200 .5rem);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            transition: background-size 500ms;
        }
    }

    &__tags {
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
    }

    &__excerpt {
        color: colors.$grey-500;
        line-height: 160%;
    }
}
