@font-face {
    font-family: "Open Runde";
    src: url('../fonts/OpenRunde-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Open Runde";
    src: url('../fonts/OpenRunde-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "Open Runde";
    src: url('../fonts/OpenRunde-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: "Open Runde";
    src: url('../fonts/OpenRunde-Bold.woff2');
    font-weight: 700;
}
